{% extends "base.html" %}

{% block titulo %} Lista de peliculas {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'create' %}" role="button">Registrar un nueva pelicula</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Peliculas</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.title }}</td>
                    <td>
                        <img src="{{ movie.image.url }}" height="50" width="40">
                        
                    </td>
                    <td>{{ movie.description }}</td>
                    <td>
                        <a name="" id="" class="btn btn-primary" href="{% url 'edit' movie.id %}" role="button">Editar</a>

                        <a name="" id="" class="btn btn-danger" href="{% url 'delete' movie.id %}" role="button" data-togle="modal" data-target="#deleteConfirm">Eliminar</a>

                        <button type="button" class="btn btn-primary" data-toggle = "modal" data-target="#delete" >Eliminar</button>

                        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  ...
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>

{% endblock %}